{{! template-lint-disable }}
<!-- disable all rules -->
{{#section.subsection name='c-textarea'}}

  {{#freestyle-annotation}}
    <p>Extends: <em>c-form-component</em></p>
    <p>We're demonstrating the <em>c-textarea</em> element in these states: <em>default</em>, <em>focus</em>, and <em>disabled</em>.</p>
    <p>The <em>c-input-text</em> component exists in these variants: <em>horizontal</em>, <em>vertical</em> and <em>nested</em>.</p>
    <h4>Attributes</h4>
    <dl>
      <dt><code>label</code> (String)</dt>
      <dd>leading label for the component</dd>
      <dt><code>layout</code> (String)</dt>
      <dd>layout options: "horizontal", "vertical", "nested"</dd>
      <dt><code>placeholder</code> (String)</dt>
      <dd>placeholder text for the input-field</dd>
      <dt><code>value</code> (String)</dt>
      <dd>value for the input-field</dd>
      <dt><code>state</code> (String)</dt>
      <dd>state of the component, options: "default", "error", "warning", "success"</dd>
      <dt><code>disabled</code> (Boolean)</dt>
      <dd>disabled state for the component</dd>
      <dt><code>required</code> (Boolean)</dt>
      <dd>required attribute for component</dd>
      <dt><code>rows</code> (Number)</dt>
      <dd>number of rows visible</dd>
      <dt><code>cols</code> (Number)</dt>
      <dd>Number of cols visible</dd>
    </dl>
  {{/freestyle-annotation}}

  {{#freestyle-collection title='c-textarea layout' defaultKey='all' inline=false as |collection|}}

    {{#collection.variant key='horizontal'}}
      {{#freestyle-usage 'c-textarea-horizontal' title='horizontal' usageTitle=labels.usage.title}}
        {{c-textarea
          label="A Label"
          layout="horizontal"
          placeholder="I'm a placeholdertext..."
        }}
      {{/freestyle-usage}}
    {{/collection.variant}}

    {{#collection.variant key='vertical'}}
      {{#freestyle-usage 'c-textarea-vertical' title='vertical' usageTitle=labels.usage.title}}
        {{c-textarea
          label="A Label"
          layout="vertical"
          placeholder="I'm a placeholdertext..."
        }}
      {{/freestyle-usage}}
    {{/collection.variant}}

    {{#collection.variant key='nested'}}
      {{#freestyle-usage 'c-textarea-nested' title='nested' usageTitle=labels.usage.title}}
        {{c-textarea
          layout="nested"
          placeholder="I'm a placeholdertext..."
        }}
      {{/freestyle-usage}}
    {{/collection.variant}}

  {{/freestyle-collection}}



  {{#freestyle-collection title='c-textarea states' defaultKey='all' inline=false as |collection|}}

    {{#collection.variant key='default'}}
      {{#freestyle-usage 'c-textarea-vertical-default' title='Default State' usageTitle=labels.usage.title}}
        {{c-textarea
          label="A Label"
          placeholder="I'm the placeholder of this textarea"
          state="default"
        }}
      {{/freestyle-usage}}
    {{/collection.variant}}

    {{#collection.variant key='success'}}
      {{#freestyle-usage 'c-textarea-vertical-success' title='success State' usageTitle=labels.usage.title}}
        {{c-textarea
          label="A Label"
          placeholder="I'm the placeholder of this textarea"
          state="success"
        }}
      {{/freestyle-usage}}
    {{/collection.variant}}

    {{#collection.variant key='warning'}}
      {{#freestyle-usage 'c-textarea-vertical-warning' title='warning State' usageTitle=labels.usage.title}}
        {{c-textarea
          label="A Label"
          placeholder="I'm the placeholder of this textarea"
          state="warning"
        }}
      {{/freestyle-usage}}
    {{/collection.variant}}

    {{#collection.variant key='error'}}
      {{#freestyle-usage 'c-textarea-vertical-error' title='error State' usageTitle=labels.usage.title}}
        {{c-textarea
          label="A Label"
          placeholder="I'm the placeholder of this textarea"
          state="error"
        }}
      {{/freestyle-usage}}
    {{/collection.variant}}

    {{#collection.variant key='disabled'}}
      {{#freestyle-usage 'c-textarea-vertical-disabled' title='disabled State' usageTitle=labels.usage.title}}
        {{c-textarea
          label="A Label"
          placeholder="I'm the placeholder of this textarea"
          disabled=true
        }}
      {{/freestyle-usage}}
    {{/collection.variant}}

  {{/freestyle-collection}}

{{/section.subsection}}