{{! template-lint-disable }}
<!-- disable all rules -->
{{#freestyle-subsection name='c-textarea' section=section}}

  {{#freestyle-annotation}}
    <p>Extends: <em>c-form-component</em></p>
    <p>We're demonstrating the <em>c-textarea</em> element in these states: <em>default</em>, <em>focus</em>, and <em>disabled</em>.</p>
    <p>The <em>c-input-text</em> component exists in these variants: <em>horizontal</em>, <em>vertical</em> and <em>nested</em>.</p>
  {{/freestyle-annotation}}

  {{#freestyle-collection title='c-textarea layout' defaultKey='all' inline=false as |collection|}}

    {{#freestyle-variant collection=collection key='horizontal'}}
      {{#freestyle-usage 'c-textarea-horizontal' title='horizontal' usageTitle=labels.usage.title}}
        {{c-textarea
          label="A Label"
          layout="horizontal"
          placeholder="I'm a placeholdertext..."
        }}
      {{/freestyle-usage}}
    {{/freestyle-variant}}

    {{#freestyle-variant collection=collection key='vertical'}}
      {{#freestyle-usage 'c-textarea-vertical' title='vertical' usageTitle=labels.usage.title}}
        {{c-textarea
          label="A Label"
          layout="vertical"
          placeholder="I'm a placeholdertext..."
        }}
      {{/freestyle-usage}}
    {{/freestyle-variant}}

    {{#freestyle-variant collection=collection key='nested'}}
      {{#freestyle-usage 'c-textarea-nested' title='nested' usageTitle=labels.usage.title}}
        {{c-textarea
          layout="nested"
          placeholder="I'm a placeholdertext..."
        }}
      {{/freestyle-usage}}
    {{/freestyle-variant}}

  {{/freestyle-collection}}



  {{#freestyle-collection title='c-textarea states' defaultKey='all' inline=false as |collection|}}

    {{#freestyle-variant collection=collection key='default'}}
      {{#freestyle-usage 'c-textarea-vertical-default' title='Default State' usageTitle=labels.usage.title}}
        {{c-textarea
          label="A Label"
          placeholder="I'm the placeholder of this textarea"
          state="default"
        }}
      {{/freestyle-usage}}
    {{/freestyle-variant}}

    {{#freestyle-variant collection=collection key='success'}}
      {{#freestyle-usage 'c-textarea-vertical-success' title='success State' usageTitle=labels.usage.title}}
        {{c-textarea
          label="A Label"
          placeholder="I'm the placeholder of this textarea"
          state="success"
        }}
      {{/freestyle-usage}}
    {{/freestyle-variant}}

    {{#freestyle-variant collection=collection key='warning'}}
      {{#freestyle-usage 'c-textarea-vertical-warning' title='warning State' usageTitle=labels.usage.title}}
        {{c-textarea
          label="A Label"
          placeholder="I'm the placeholder of this textarea"
          state="warning"
        }}
      {{/freestyle-usage}}
    {{/freestyle-variant}}

    {{#freestyle-variant collection=collection key='error'}}
      {{#freestyle-usage 'c-textarea-vertical-error' title='error State' usageTitle=labels.usage.title}}
        {{c-textarea
          label="A Label"
          placeholder="I'm the placeholder of this textarea"
          state="error"
        }}
      {{/freestyle-usage}}
    {{/freestyle-variant}}

    {{#freestyle-variant collection=collection key='disabled'}}
      {{#freestyle-usage 'c-textarea-vertical-disabled' title='disabled State' usageTitle=labels.usage.title}}
        {{c-textarea
          label="A Label"
          placeholder="I'm the placeholder of this textarea"
          disabled=true
        }}
      {{/freestyle-usage}}
    {{/freestyle-variant}}

  {{/freestyle-collection}}

{{/freestyle-subsection}}