{{! disable all rules for this template }}
<!-- template-lint disable=true -->
{{#freestyle-subsection name='c-input-checkbox' section=section}}

  {{#freestyle-annotation}}
    <p>Extends: <em>c-form-group</em></p>
    <p>We're demonstrating the <em>c-input-checkbox</em> element in these states: <em>default</em>, <em>focus</em> and <em>disabled</em>.</p>
    <p>The <em>c-input-checkbox</em> component exists in these variants: <em>horizontal</em>, <em>vertical</em> and <em>nested</em>.</p>
    <p>Currently the visible element is a default browser rendering. In the light of progressive enhancement, we will replace the standard visual style with our own at a later stage.</p>
    <p>The element options are set through the <code>items</code> attribute which accepts an <em>array</em>.</p>
  {{/freestyle-annotation}}

  {{!-- NOTE: Don't use the same model.radioOptions index twice, or you'll get a duplicated ID error --}}

  {{#freestyle-collection title='c-input-checkbox layout' defaultKey='all' inline=false as |collection|}}

    {{#freestyle-variant collection=collection key='horizontal'}}
      {{#freestyle-usage 'c-input-checkbox-horizontal' title='horizontal' usageTitle=labels.usage.title}}
        {{c-input-checkbox
          items=model.selectOptions
          label="A Label"
          layout="horizontal"
          name="c-input-checkbox-01"
        }}
      {{/freestyle-usage}}
    {{/freestyle-variant}}

    {{#freestyle-variant collection=collection key='vertical'}}
      {{#freestyle-usage 'c-input-checkbox-vertical' title='vertical' usageTitle=labels.usage.title}}
        {{c-input-checkbox
          items=model.selectOptions
          label="A Label"
          layout="vertical"
          name="c-input-checkbox-02"
        }}
      {{/freestyle-usage}}
    {{/freestyle-variant}}

    {{#freestyle-variant collection=collection key='nested'}}
      {{#freestyle-usage 'c-input-checkbox-nested' title='nested' usageTitle=labels.usage.title}}
        {{c-input-checkbox
          items=model.selectOptions
          label="A Label"
          layout="nested"
          name="c-input-checkbox-03"
        }}
      {{/freestyle-usage}}
    {{/freestyle-variant}}

  {{/freestyle-collection}}

  {{#freestyle-collection title='c-input-checkbox states' defaultKey='all' inline=false as |collection|}}

    {{#freestyle-variant collection=collection key='default'}}
      {{#freestyle-usage 'c-input-checkbox-vertical-default' title='Default' usageTitle=labels.usage.title}}
        {{c-input-checkbox
          items=model.selectOptions
          label="A Label"
          state="default"
        }}
      {{/freestyle-usage}}
    {{/freestyle-variant}}

    {{#freestyle-variant collection=collection key='success'}}
      {{#freestyle-usage 'c-input-checkbox-success' title='success' usageTitle=labels.usage.title}}
        {{c-input-checkbox
          items=model.selectOptions
          label="A Label"
          state="success"
        }}
      {{/freestyle-usage}}
    {{/freestyle-variant}}

    {{#freestyle-variant collection=collection key='warning'}}
      {{#freestyle-usage 'c-input-checkbox-warning' title='warning' usageTitle=labels.usage.title}}
        {{c-input-checkbox
          items=model.selectOptions
          label="A Label"
          state="warning"
        }}
      {{/freestyle-usage}}
    {{/freestyle-variant}}

    {{#freestyle-variant collection=collection key='error'}}
      {{#freestyle-usage 'c-input-checkbox-error' title='error' usageTitle=labels.usage.title}}
        {{c-input-checkbox
          items=model.selectOptions
          label="A Label"
          state="error"
        }}
      {{/freestyle-usage}}
    {{/freestyle-variant}}

    {{#freestyle-variant collection=collection key='disabled'}}
      {{#freestyle-usage 'c-input-checkbox-disabled' title='disabled' usageTitle=labels.usage.title}}
        {{c-input-checkbox
          items=model.selectOptions
          label="A Label"
          disabled=true
        }}
      {{/freestyle-usage}}
    {{/freestyle-variant}}

  {{/freestyle-collection}}



  {{#freestyle-collection title='c-input-checkbox specials' defaultKey='all' inline=false as |collection|}}

    {{#freestyle-variant collection=collection key='labelfirst'}}
      {{#freestyle-usage 'c-input-checkbox-labelfirst' title='Label First option' usageTitle=labels.usage.title}}
        {{c-input-checkbox
          items=model.selectOptions
          labelFirst=true
        }}
      {{/freestyle-usage}}
    {{/freestyle-variant}}

    {{#freestyle-variant collection=collection key='labelup'}}
      {{#freestyle-usage 'c-input-checkbox-labelup' title='Label Up option' usageTitle=labels.usage.title}}
        {{c-input-checkbox
          items=model.selectOptions
          labelUp=true
        }}
      {{/freestyle-usage}}
    {{/freestyle-variant}}

    {{#freestyle-variant collection=collection key='labelup-border'}}
      {{#freestyle-usage 'c-input-checkbox-labelup-border' title='Label Up option-border' usageTitle=labels.usage.title}}
        {{c-input-checkbox
          items=model.selectOptions
          labelUp=true
          insideScroll=true
          innerPanel=true
          inline=true
        }}
      {{/freestyle-usage}}
    {{/freestyle-variant}}

    {{#freestyle-variant collection=collection key='inline-outer-panel'}}
      {{#freestyle-usage 'c-input-checkbox-inline-outer-panel' title='inline-outer-panel' usageTitle=labels.usage.title}}
        {{c-input-checkbox
          items=model.selectOptions
          labelUp=true
          inlineOuterPanel=true
        }}
      {{/freestyle-usage}}
    {{/freestyle-variant}}

  {{/freestyle-collection}}

{{/freestyle-subsection}}
