{{! template-lint-disable }}
<!-- disable all rules -->
{{#freestyle-subsection name='c-input-checkbox' section=section}}

  {{#freestyle-annotation}}
    <p>Extends: <em>c-form-component</em></p>
    <p>We're demonstrating the <em>c-input-checkbox</em> element in these states: <em>default</em>, <em>focus</em> and <em>disabled</em>.</p>
    <p>The <em>c-input-checkbox</em> component exists in these variants: <em>horizontal</em>, <em>vertical</em> and <em>nested</em>.</p>
    <p>Currently the visible element is a default browser rendering. In the light of progressive enhancement, we will replace the standard visual style with our own at a later stage.</p>
    <p>The element options are set through the <code>items</code> attribute which accepts an <em>array</em>.</p>
    <h4>Attributes</h4>
    <dl>
      <dt><code>label</code> (String)</dt>
      <dd>leading label for the component</dd>
      <dt><code>layout</code> (String)</dt>
      <dd>layout options: "horizontal", "vertical", "nested"</dd>
      <dt><code>name</code> (String)</dt>
      <dd>name attribute of the component</dd>
      <dt><code>state</code> (String)</dt>
      <dd>state of the component, options: "default", "error", "warning", "success"</dd>
      <dt><code>disabled</code> (Boolean)</dt>
      <dd>disabled state for the component</dd>
      <dt><code>required</code> (Boolean)</dt>
      <dd>required attribute for component</dd>
      <dt><code>items</code> (Array)</dt>
      <dd>Array with the options as checkboxes</dd>
      <dt><code>labelFirst</code> (Boolean)</dt>
      <dd>shows the label before the checkbox</dd>
      <dt><code>labelUp</code> (Boolean)</dt>
      <dd>shows the label on top of the checkbox</dd>
      <dt><code>insideScroll</code> (Boolean)</dt>
      <dd>options with horizontal scroll</dd>
      <dt><code>innerPanel</code> (Boolean)</dt>
      <dd>renders a panel around each checkbox</dd>
      <dt><code>inline</code>(Boolean)</dt>
      <dd>inline display option for the inner panels</dd>
      <dt><code>inlineOuterPanel</code> (Boolean)</dt>
      <dd>inline display option for the outer panel</dd>
    </dl>
  {{/freestyle-annotation}}

  {{!-- NOTE: Don't use the same model.radioOptions index twice, or you'll get a duplicated ID error --}}

  {{#freestyle-collection title='c-input-checkbox layout' defaultKey='all' inline=false as |collection|}}

    {{#freestyle-variant collection=collection key='horizontal'}}
      {{#freestyle-usage 'c-input-checkbox-horizontal' title='horizontal' usageTitle=labels.usage.title}}
        {{c-input-checkbox
          items=model.selectOptions
          label="A Label"
          layout="horizontal"
          name="c-input-checkbox-01"
        }}
      {{/freestyle-usage}}
    {{/freestyle-variant}}

    {{#freestyle-variant collection=collection key='vertical'}}
      {{#freestyle-usage 'c-input-checkbox-vertical' title='vertical' usageTitle=labels.usage.title}}
        {{c-input-checkbox
          items=model.selectOptions
          label="A Label"
          layout="vertical"
          name="c-input-checkbox-02"
        }}
      {{/freestyle-usage}}
    {{/freestyle-variant}}

    {{#freestyle-variant collection=collection key='nested'}}
      {{#freestyle-usage 'c-input-checkbox-nested' title='nested' usageTitle=labels.usage.title}}
        {{c-input-checkbox
          items=model.selectOptions
          label="A Label"
          layout="nested"
          name="c-input-checkbox-03"
        }}
      {{/freestyle-usage}}
    {{/freestyle-variant}}

  {{/freestyle-collection}}

  {{#freestyle-collection title='c-input-checkbox states' defaultKey='all' inline=false as |collection|}}

    {{#freestyle-variant collection=collection key='default'}}
      {{#freestyle-usage 'c-input-checkbox-vertical-default' title='Default' usageTitle=labels.usage.title}}
        {{c-input-checkbox
          items=model.selectOptions
          label="A Label"
          state="default"
        }}
      {{/freestyle-usage}}
    {{/freestyle-variant}}

    {{#freestyle-variant collection=collection key='success'}}
      {{#freestyle-usage 'c-input-checkbox-success' title='success' usageTitle=labels.usage.title}}
        {{c-input-checkbox
          items=model.selectOptions
          label="A Label"
          state="success"
        }}
      {{/freestyle-usage}}
    {{/freestyle-variant}}

    {{#freestyle-variant collection=collection key='warning'}}
      {{#freestyle-usage 'c-input-checkbox-warning' title='warning' usageTitle=labels.usage.title}}
        {{c-input-checkbox
          items=model.selectOptions
          label="A Label"
          state="warning"
        }}
      {{/freestyle-usage}}
    {{/freestyle-variant}}

    {{#freestyle-variant collection=collection key='error'}}
      {{#freestyle-usage 'c-input-checkbox-error' title='error' usageTitle=labels.usage.title}}
        {{c-input-checkbox
          items=model.selectOptions
          label="A Label"
          state="error"
        }}
      {{/freestyle-usage}}
    {{/freestyle-variant}}

    {{#freestyle-variant collection=collection key='disabled'}}
      {{#freestyle-usage 'c-input-checkbox-disabled' title='disabled' usageTitle=labels.usage.title}}
        {{c-input-checkbox
          items=model.selectOptions
          label="A Label"
          disabled=true
        }}
      {{/freestyle-usage}}
    {{/freestyle-variant}}

  {{/freestyle-collection}}



  {{#freestyle-collection title='c-input-checkbox specials' defaultKey='all' inline=false as |collection|}}

    {{#freestyle-variant collection=collection key='label-first'}}
      {{#freestyle-usage 'c-input-checkbox-label-first' title='Label First option' usageTitle=labels.usage.title}}
        {{c-input-checkbox
          items=model.selectOptions
          labelFirst=true
        }}
      {{/freestyle-usage}}
    {{/freestyle-variant}}

    {{#freestyle-variant collection=collection key='label-up'}}
      {{#freestyle-usage 'c-input-checkbox-label-up' title='Label Up option' usageTitle=labels.usage.title}}
        {{c-input-checkbox
          items=model.selectOptions
          labelUp=true
        }}
      {{/freestyle-usage}}
    {{/freestyle-variant}}

    {{#freestyle-variant collection=collection key='label-up-border'}}
      {{#freestyle-usage 'c-input-checkbox-label-up-border' title='Label Up option-border' usageTitle=labels.usage.title}}
        {{c-input-checkbox
          items=model.selectOptions
          labelUp=true
          insideScroll=true
          innerPanel=true
          inline=true
        }}
      {{/freestyle-usage}}
    {{/freestyle-variant}}

    {{#freestyle-variant collection=collection key='inline-outer-panel'}}
      {{#freestyle-usage 'c-input-checkbox-inline-outer-panel' title='inline-outer-panel' usageTitle=labels.usage.title}}
        {{c-input-checkbox
          items=model.selectOptions
          labelUp=true
          inlineOuterPanel=true
        }}
      {{/freestyle-usage}}
    {{/freestyle-variant}}

  {{/freestyle-collection}}

{{/freestyle-subsection}}
