{{! template-lint-disable }}
<!-- disable all rules -->
{{#section.subsection name='e-input-checkbox'}}
  <div class="FreestyleAnnotation">
    <p>This elements are here only visible, they aren't clickable because they reach there functionality in the c-input-radio component together with a "fake-label"</p>
    <a href="styleguide?s=Components&ss=c-input-checkbox">c-input-checkbox</a>
  </div>
  {{#freestyle-annotation}}
    <p>Extends: <em>eFormComponent</em></p>
    <h4>Attributes</h4>
    <dl>
      <dt><code>disabled</code> (Boolean)</dt>
      <dd>sets element-state to disabled</dd>
      <dt><code>checked</code> (Boolean)</dt>
      <dd>state of the checkbox</dd>
      <dt><code>required</code> (Boolean)</dt>
      <dd>required attribute of element</dd>
      <dt><code>autofocus</code> (Boolean)</dt>
      <dd>sets autofocus attribute to element</dd>
      <dt><code>name</code> (String)</dt>
      <dd>name attribute of element</dd>
      <dt><code>id</code> (String)</dt>
      <dd>id attribute of element</dd>
    </dl>
  {{/freestyle-annotation}}

  {{#freestyle-collection title='e-input-checkbox' defaultKey='all' inline=false as |collection|}}

    {{#collection.variant key='default'}}
      {{#freestyle-usage 'e-input-checkbox-default' title='e-input-checkbox default' usageTitle=labels.usage.title}}
        {{e-input-checkbox
          name="checkbox1"
        }}
      {{/freestyle-usage}}
    {{/collection.variant}}

    {{#collection.variant key='checked'}}
      {{#freestyle-usage 'e-input-checkbox-checked' title='e-input-checkbox checked' usageTitle=labels.usage.title}}
        {{e-input-checkbox
          name="checkbox2"
          checked=true
        }}
      {{/freestyle-usage}}
    {{/collection.variant}}

    {{#collection.variant key='with class name'}}
      {{#freestyle-usage 'e-input-checkbox-class' title='e-input-checkbox class' usageTitle=labels.usage.title}}
        {{e-input-checkbox
          name="checkbox3"
          class="ExampleClassCheckbox"
        }}
      {{/freestyle-usage}}
    {{/collection.variant}}

  {{/freestyle-collection}}



  {{#freestyle-collection title='e-input-checkbox states' defaultKey='all' inline=false as |collection|}}

    {{#collection.variant key='default'}}
      {{#freestyle-usage 'e-input-checkbox-state-default' title='e-input-checkbox default' usageTitle=labels.usage.title}}
        {{e-input-checkbox
          state="default"
          checked=true
        }}
      {{/freestyle-usage}}
    {{/collection.variant}}

    {{#collection.variant key='success'}}
      {{#freestyle-usage 'e-input-checkbox-state-success' title='e-input-checkbox success' usageTitle=labels.usage.title}}
        {{e-input-checkbox
          name="checkbox10"
          state="success"
          checked=true
        }}
      {{/freestyle-usage}}
    {{/collection.variant}}

    {{#collection.variant key='warning'}}
      {{#freestyle-usage 'e-input-checkbox-state-warning' title='e-input-checkbox warning' usageTitle=labels.usage.title}}
        {{e-input-checkbox
          name="checkbox11"
          state="warning"
          checked=true
        }}
      {{/freestyle-usage}}
    {{/collection.variant}}

    {{#collection.variant key='error'}}
      {{#freestyle-usage 'e-input-checkbox-state-error' title='e-input-checkbox error' usageTitle=labels.usage.title}}
        {{e-input-checkbox
          name="checkbox12"
          state="error"
          checked=true
        }}
      {{/freestyle-usage}}
    {{/collection.variant}}

    {{#collection.variant key='disabled'}}
      {{#freestyle-usage 'e-input-checkbox-state-disabled' title='e-input-checkbox disabled' usageTitle=labels.usage.title}}
        {{e-input-checkbox
          name="checkbox13"
          disabled=true
          checked=true
        }}
      {{/freestyle-usage}}
    {{/collection.variant}}

  {{/freestyle-collection}}





  {{#freestyle-collection title='e-input-radio' defaultKey='all' inline=false as |collection|}}

    {{#collection.variant key='default'}}
      {{#freestyle-usage 'e-input-radio-default' title='e-input-radio default' usageTitle=labels.usage.title}}
        {{e-input-radio
            name="radio1"
        }}
      {{/freestyle-usage}}
    {{/collection.variant}}

    {{#collection.variant key='checked'}}
      {{#freestyle-usage 'e-input-radio-checked' title='e-input-radio checked' usageTitle=labels.usage.title}}
        {{e-input-radio}}
      {{/freestyle-usage}}
    {{/collection.variant}}

    {{#collection.variant key='with class name'}}
      {{#freestyle-usage 'e-input-radio-class' title='e-input-radio class' usageTitle=labels.usage.title}}
        {{e-input-radio
            name="radio1"
            class="ExampleClassRadio"
        }}
      {{/freestyle-usage}}
    {{/collection.variant}}

    {{#collection.variant key='button style radio'}}
      {{#freestyle-usage 'e-input-radio-button' title='e-input-radio button' usageTitle=labels.usage.title}}
        {{e-input-radio
            name="radio1"
            noInputVisible=true
            text="click-me"
        }}
      {{/freestyle-usage}}
    {{/collection.variant}}

  {{/freestyle-collection}}


  {{#freestyle-collection title='e-input-radio states' defaultKey='all' inline=false as |collection|}}

    {{#collection.variant key='default'}}
      {{#freestyle-usage 'e-input-radio-state-default' title='e-input-radio default' usageTitle=labels.usage.title}}
        {{e-input-radio
            name="radio1"
        }}
      {{/freestyle-usage}}
    {{/collection.variant}}

    {{#collection.variant key='success'}}
      {{#freestyle-usage 'e-input-radio-state-success' title='e-input-radio success' usageTitle=labels.usage.title}}
        {{e-input-radio
            state="success"
        }}
      {{/freestyle-usage}}
    {{/collection.variant}}

    {{#collection.variant key='warning'}}
      {{#freestyle-usage 'e-input-radio-state-warning' title='e-input-radio warning' usageTitle=labels.usage.title}}
        {{e-input-radio
            state="warning"
        }}
      {{/freestyle-usage}}
    {{/collection.variant}}

    {{#collection.variant key='error'}}
      {{#freestyle-usage 'e-input-radio-state-error' title='e-input-radio error' usageTitle=labels.usage.title}}
        {{e-input-radio
            state="error"
        }}
      {{/freestyle-usage}}
    {{/collection.variant}}

    {{#collection.variant key='disabled'}}
      {{#freestyle-usage 'e-input-radio-state-disabled' title='e-input-radio disabled' usageTitle=labels.usage.title}}
        {{e-input-radio
            disabled=true
        }}
      {{/freestyle-usage}}
    {{/collection.variant}}

  {{/freestyle-collection}}

{{/section.subsection}}