{{! disable all rules for this template }}
<!-- template-lint disable=true -->
{{#freestyle-subsection name='e-input-checkbox' section=section}}
  <div class="FreestyleAnnotation">
    <p>This elements are here only visible, they aren't clickable because they reach there functionality in the c-input-radio component together with a "fake-label"</p>
    <a href="styleguide?s=Components&ss=c-input-checkbox">c-input-checkbox</a>
  </div>
  {{#freestyle-annotation}}
    <p>Extends: <em>e-input</em></p>
  {{/freestyle-annotation}}

  {{#freestyle-collection title='e-input-checkbox' defaultKey='all' inline=false as |collection|}}

    {{#freestyle-variant collection=collection key='default'}}
      {{#freestyle-usage 'e-input-checkbox-default' title='e-input-checkbox default' usageTitle=labels.usage.title}}
        {{e-input-checkbox
          name="checkbox1"
        }}
      {{/freestyle-usage}}
    {{/freestyle-variant}}

    {{#freestyle-variant collection=collection key='checked'}}
      {{#freestyle-usage 'e-input-checkbox-checked' title='e-input-checkbox checked' usageTitle=labels.usage.title}}
        {{e-input-checkbox
          name="checkbox1"
          checked=true
        }}
      {{/freestyle-usage}}
    {{/freestyle-variant}}

    {{#freestyle-variant collection=collection key='with class name'}}
      {{#freestyle-usage 'e-input-checkbox-class' title='e-input-checkbox class' usageTitle=labels.usage.title}}
        {{e-input-checkbox
          name="checkbox"
          class="ExampleClassCheckbox"
        }}
      {{/freestyle-usage}}
    {{/freestyle-variant}}

  {{/freestyle-collection}}



  {{#freestyle-collection title='e-input-checkbox states' defaultKey='all' inline=false as |collection|}}

    {{#freestyle-variant collection=collection key='default'}}
      {{#freestyle-usage 'e-input-checkbox-default' title='e-input-checkbox default' usageTitle=labels.usage.title}}
        {{e-input-checkbox
          state="default"
          checked=true
        }}
      {{/freestyle-usage}}
    {{/freestyle-variant}}

    {{#freestyle-variant collection=collection key='success'}}
      {{#freestyle-usage 'e-input-checkbox-success' title='e-input-checkbox success' usageTitle=labels.usage.title}}
        {{e-input-checkbox
          state="success"
          checked=true
        }}
      {{/freestyle-usage}}
    {{/freestyle-variant}}

    {{#freestyle-variant collection=collection key='warning'}}
      {{#freestyle-usage 'e-input-checkbox-warning' title='e-input-checkbox warning' usageTitle=labels.usage.title}}
        {{e-input-checkbox
          state="warning"
          checked=true
        }}
      {{/freestyle-usage}}
    {{/freestyle-variant}}

    {{#freestyle-variant collection=collection key='error'}}
      {{#freestyle-usage 'e-input-checkbox-error' title='e-input-checkbox error' usageTitle=labels.usage.title}}
        {{e-input-checkbox
          state="error"
          checked=true
        }}
      {{/freestyle-usage}}
    {{/freestyle-variant}}

    {{#freestyle-variant collection=collection key='disabled'}}
      {{#freestyle-usage 'e-input-checkbox-disabled' title='e-input-checkbox disabled' usageTitle=labels.usage.title}}
        {{e-input-checkbox
          disabled=true
          checked=true
        }}
      {{/freestyle-usage}}
    {{/freestyle-variant}}

  {{/freestyle-collection}}

{{/freestyle-subsection}}