<div class="container">
  <div class="row">
    <div class="col-xxs-12 col-sm-6 spacing--bottom-30 spacing--bottom-sm-up-0">
      <h3 class="{{bemBlockName}}__title">{{t 'address.company.name'}}</h3>
      <address class="{{bemBlockName}}__address">
        <p>
          {{t 'address.company.street'}}<br>
          {{t 'address.company.zip'}} {{t 'address.company.city'}}<br>
          {{t 'address.company.country'}}<br>
          {{t 'label.form.phone'}}: <a class="{{bemBlockName}}__phone {{bemBlockName}}__phone--no-underline" href="#">{{t 'address.company.phone'}}</a><br>
          {{t 'label.form.email'}}: <a class="{{bemBlockName}}__phone {{bemBlockName}}__phone--no-underline" href="#">{{t 'address.company.email'}}</a>
        </p>
      </address>
    </div>
    <div class="col-xxs-12 col-sm-6">
      <h3 class="{{bemBlockName}}__title">{{t 'address.company.name'}}</h3>
      <address class="{{bemBlockName}}__address">
        <table>
          <tr>
            <td class="{{bemBlockName}}__table-first-column">{{t 'label.form.phone'}}</td>
            <td><a class="{{bemBlockName}}__phone" href="#">{{t 'address.company.phone'}}</a></td>
          </tr>
          <tr>
            <td class="{{bemBlockName}}__table-first-column">{{t 'label.form.fax'}}</td>
            <td><a class="{{bemBlockName}}__phone" href="#">{{t 'address.company.fax'}}</a></td>
          </tr>
        </table>
      </address>
    </div>
  </div>
</div>
