{{#if labelFirst}}
  <span class="{{bemBlockName}}__text {{innerClassNames}}" data-value="{{text}}">
    {{text}}
    {{#if required}}
      <span class="{{bemBlockName}}__required">*</span>
    {{/if}}
  </span>
  {{yield}}
{{else if labelUp}}
  <span class="{{bemBlockName}}__text {{innerClassNames}}" data-value="{{text}}">
    {{text}}
    {{#if required}}
      <span class="{{bemBlockName}}__required">*</span>
    {{/if}}
  </span>
  {{yield}}
{{else}}
  {{yield}}
  {{#unless noInputVisible}}
    <span class="{{bemBlockName}}__text {{innerClassNames}}" data-value="{{text}}">
      {{text}}
      {{#if required}}
        <span class="{{bemBlockName}}__required">*</span>
      {{/if}}
    </span>
  {{/unless}}
{{/if}}
