{{! template-lint-disable }}
<!-- disable all rules -->
{{#freestyle-subsection name='e-input-radio' section=section}}

  <div class="FreestyleAnnotation">
    <p>This elements are here only visible, they aren't clickable because they reach there functionality in the c-input-radio component together with a "fake-label"</p>
    <a href="styleguide?s=Components&ss=c-input-radio">c-input-radio</a>
  </div>

  {{#freestyle-annotation}}
    <p>Extends: <em>eFormComponent</em></p>
    <h4>Attributes</h4>
    <dl>
      <dt><code>disabled</code> (Boolean)</dt>
      <dd>sets element-state to disabled</dd>
      <dt><code>groupValue</code> (String)</dt>
      <dd>if GroupValue = value the element is selected</dd>
      <dt><code>value</code> (String)</dt>
      <dd>value attribute of element</dd>
      <dt><code>name</code> (String)</dt>
      <dd>name attribute of element</dd>
      <dt><code>text</code> (String)</dt>
      <dd>text which is display by radios of type "noInputVisible"</dd>
      <dt><code>noInputVisible</code> (Boolean)</dt>
      <dd>renders radios who looks like buttons</dd>
      <dt><code>grid</code> (Boolean)</dt>
      <dd>for radiobuttons (noInputVisible) which are aligned on grid</dd>
    </dl>
  {{/freestyle-annotation}}

  {{#freestyle-collection title='e-input-radio' defaultKey='all' inline=false as |collection|}}

    {{#freestyle-variant collection=collection key='default'}}
      {{#freestyle-usage 'e-input-radio-default' title='e-input-radio default' usageTitle=labels.usage.title}}
        {{e-input-radio
          name="radio1"
        }}
      {{/freestyle-usage}}
    {{/freestyle-variant}}

    {{#freestyle-variant collection=collection key='checked'}}
      {{#freestyle-usage 'e-input-radio-checked' title='e-input-radio checked' usageTitle=labels.usage.title}}
        {{e-input-radio}}
      {{/freestyle-usage}}
    {{/freestyle-variant}}

    {{#freestyle-variant collection=collection key='with class name'}}
      {{#freestyle-usage 'e-input-radio-class' title='e-input-radio class' usageTitle=labels.usage.title}}
        {{e-input-radio
          name="radio1"
          class="ExampleClassRadio"
        }}
      {{/freestyle-usage}}
    {{/freestyle-variant}}

    {{#freestyle-variant collection=collection key='button style radio'}}
      {{#freestyle-usage 'e-input-radio-button' title='e-input-radio button' usageTitle=labels.usage.title}}
        {{e-input-radio
            name="radio1"
            noInputVisible=true
            text="click-me"
        }}
      {{/freestyle-usage}}
    {{/freestyle-variant}}

  {{/freestyle-collection}}


  {{#freestyle-collection title='e-input-radio states' defaultKey='all' inline=false as |collection|}}

    {{#freestyle-variant collection=collection key='default'}}
      {{#freestyle-usage 'e-input-radio-state-default' title='e-input-radio default' usageTitle=labels.usage.title}}
        {{e-input-radio
          name="radio1"
        }}
      {{/freestyle-usage}}
    {{/freestyle-variant}}

    {{#freestyle-variant collection=collection key='success'}}
      {{#freestyle-usage 'e-input-radio-state-success' title='e-input-radio success' usageTitle=labels.usage.title}}
        {{e-input-radio
          state="success"
        }}
      {{/freestyle-usage}}
    {{/freestyle-variant}}

    {{#freestyle-variant collection=collection key='warning'}}
      {{#freestyle-usage 'e-input-radio-state-warning' title='e-input-radio warning' usageTitle=labels.usage.title}}
        {{e-input-radio
          state="warning"
        }}
      {{/freestyle-usage}}
    {{/freestyle-variant}}

    {{#freestyle-variant collection=collection key='error'}}
      {{#freestyle-usage 'e-input-radio-state-error' title='e-input-radio error' usageTitle=labels.usage.title}}
        {{e-input-radio
          state="error"
        }}
      {{/freestyle-usage}}
    {{/freestyle-variant}}

    {{#freestyle-variant collection=collection key='disabled'}}
      {{#freestyle-usage 'e-input-radio-state-disabled' title='e-input-radio disabled' usageTitle=labels.usage.title}}
        {{e-input-radio
          disabled=true
        }}
      {{/freestyle-usage}}
    {{/freestyle-variant}}

  {{/freestyle-collection}}

{{/freestyle-subsection}}