{{! template-lint-disable }}
<!-- disable all rules -->
{{#section.subsection name='c-select'}}

  {{#freestyle-annotation}}
    <p>Extends: <em>c-form-component</em></p>
    <p>We're demonstrating the <em>c-select</em> element in these states: <em>default</em>, <em>focus</em> and <em>disabled</em>.</p>
    <p>The <em>c-select</em> component exists in these variants: <em>horizontal</em>, <em>vertical</em> and <em>nested</em>.</p>
    <p>The element options are set through the <code>items</code> attribute which accepts an <em>array</em>.</p>
    <h4>Attributes</h4>
    <dl>
      <dt><code>label</code> (String)</dt>
      <dd>leading label for the component</dd>
      <dt><code>layout</code> (String)</dt>
      <dd>layout options: "horizontal", "vertical", "nested"</dd>
      <dt><code>placeholder</code> (String)</dt>
      <dd>placeholder text for the input-field</dd>
      <dt><code>state</code> (String)</dt>
      <dd>state of the component, options: "default", "error", "warning", "success"</dd>
      <dt><code>disabled</code> (Boolean)</dt>
      <dd>disabled state for the component</dd>
      <dt><code>required</code> (Boolean)</dt>
      <dd>required attribute for component</dd>
      <dt><code>multiple</code> (Boolean)</dt>
      <dd>option for multiple selection</dd>
    </dl>
  {{/freestyle-annotation}}

  {{#freestyle-collection title='c-select single-layout' defaultKey='all' inline=false as |collection|}}

    {{#collection.variant key='horizontal'}}
      {{#freestyle-usage 'c-select-single-horizontal' title='single-horizontal' usageTitle=labels.usage.title}}
        {{c-select
          items=model.selectOptions
          label="Select an item"
          layout="horizontal"
        }}
      {{/freestyle-usage}}
    {{/collection.variant}}

    {{#collection.variant key='vertical'}}
      {{#freestyle-usage 'c-select-single-vertical' title='single-vertical' usageTitle=labels.usage.title}}
        {{c-select
          items=model.selectOptions
          label="Select an item"
          layout="vertical"
        }}
      {{/freestyle-usage}}
    {{/collection.variant}}

    {{#collection.variant key='nested'}}
      {{#freestyle-usage 'c-select-single-nested' title='single-nested' usageTitle=labels.usage.title}}
        {{c-select
          items=model.selectOptions
          layout="nested"
        }}
      {{/freestyle-usage}}
    {{/collection.variant}}

  {{/freestyle-collection}}



  {{#freestyle-collection title='c-select multiple-layout' defaultKey='all' inline=false as |collection|}}

    {{#collection.variant key='horizontal'}}
      {{#freestyle-usage 'c-select-multiple-horizontal' title='multiple-horizontal' usageTitle=labels.usage.title}}
        {{c-select
          items=model.selectOptions
          label="Select an item"
          layout="horizontal"
          multiple=true
        }}
      {{/freestyle-usage}}
    {{/collection.variant}}

    {{#collection.variant key='vertical'}}
      {{#freestyle-usage 'c-select-multiple-vertical' title='multiple-vertical' usageTitle=labels.usage.title}}
        {{c-select
          items=model.selectOptions
          label="Select an item"
          layout="vertical"
          multiple=true
        }}
      {{/freestyle-usage}}
    {{/collection.variant}}

    {{#collection.variant key='nested'}}
      {{#freestyle-usage 'c-select-multiple-nested' title='multiple-nested' usageTitle=labels.usage.title}}
        {{c-select
          items=model.selectOptions
          layout="nested"
          multiple=true
        }}
      {{/freestyle-usage}}
    {{/collection.variant}}

  {{/freestyle-collection}}



  {{#freestyle-collection title='c-select states' defaultKey='all' inline=false as |collection|}}

    {{#collection.variant key='default'}}
      {{#freestyle-usage 'c-select-default' title='default' usageTitle=labels.usage.title}}
        {{c-select
          items=model.selectOptions
          label="Select an item"
          state="default"
        }}
      {{/freestyle-usage}}
    {{/collection.variant}}

    {{#collection.variant key='success'}}
      {{#freestyle-usage 'c-select-success' title='success' usageTitle=labels.usage.title}}
        {{c-select
          items=model.selectOptions
          label="Select an item"
          state="success"
        }}
      {{/freestyle-usage}}
    {{/collection.variant}}

    {{#collection.variant key='warning'}}
      {{#freestyle-usage 'c-select-warning' title='warning' usageTitle=labels.usage.title}}
        {{c-select
          items=model.selectOptions
          label="Select an item"
          state="warning"
        }}
      {{/freestyle-usage}}
    {{/collection.variant}}

    {{#collection.variant key='error'}}
      {{#freestyle-usage 'c-select-error' title='error' usageTitle=labels.usage.title}}
        {{c-select
          items=model.selectOptions
          label="Select an item"
          state="error"
        }}
      {{/freestyle-usage}}
    {{/collection.variant}}

    {{#collection.variant key='disabled'}}
      {{#freestyle-usage 'c-select-disabled' title='disabled' usageTitle=labels.usage.title}}
        {{c-select
          items=model.selectOptions
          label="Select an item"
          disabled=true
        }}
      {{/freestyle-usage}}
    {{/collection.variant}}

  {{/freestyle-collection}}

{{/section.subsection}}