{{! template-lint-disable }}
<!-- disable all rules -->
{{#freestyle-subsection name='c-input-text' section=section}}

  {{#freestyle-annotation}}
    <p>Extends: <em>c-form-component-class</em></p>
    <p>We're demonstrating the <em>c-input-text</em> element in these states: <em>default</em>, <em>focus</em>, <em>validation ok (success)</em>, <em>validation error</em> and <em>disabled</em>.</p>
    <p>The <em>c-input-text</em> component exists in these variants: <em>horizontal</em>, <em>vertical</em> and <em>nested</em>.</p>
  {{/freestyle-annotation}}

  {{#freestyle-collection title='c-input-text layouts' defaultKey='all' inline=false as |collection|}}

    {{#freestyle-variant collection=collection key='horizontal'}}
      {{#freestyle-usage 'c-input-text-horizontal' title='horizontal' usageTitle=labels.usage.title}}
        {{c-input-text
          label="A Label"
          layout="horizontal"
          placeholder="I'm a placeholder.."
        }}
      {{/freestyle-usage}}
    {{/freestyle-variant}}

    {{#freestyle-variant collection=collection key='vertical'}}
      {{#freestyle-usage 'c-input-text-vertical' title='vertical' usageTitle=labels.usage.title}}
        {{c-input-text
          label="A Label"
          layout="vertical"
          placeholder="I'm a placeholder.."
        }}
      {{/freestyle-usage}}
    {{/freestyle-variant}}

    {{#freestyle-variant collection=collection key='nested'}}
      {{#freestyle-usage 'c-input-text-nested' title='nested' usageTitle=labels.usage.title}}
        {{c-input-text
          layout="nested"
          placeholder="I'm a placeholder.."
        }}
      {{/freestyle-usage}}
    {{/freestyle-variant}}

  {{/freestyle-collection}}



  {{#freestyle-collection title='c-input-text states' defaultKey='all' inline=false as |collection|}}

    {{#freestyle-variant collection=collection key='default'}}
      {{#freestyle-usage 'c-input-text-default' title='default' usageTitle=labels.usage.title}}
        {{c-input-text
          label="A Label"
          placeholder="I'm a placeholder.."
          state="default"
        }}
      {{/freestyle-usage}}
    {{/freestyle-variant}}

    {{#freestyle-variant collection=collection key='success'}}
      {{#freestyle-usage 'c-input-text-success' title='success' usageTitle=labels.usage.title}}
        {{c-input-text
          label="A Label"
          placeholder="I'm a placeholder.."
          state="success"
        }}
      {{/freestyle-usage}}
    {{/freestyle-variant}}

    {{#freestyle-variant collection=collection key='warning'}}
      {{#freestyle-usage 'c-input-text-warning' title='warning' usageTitle=labels.usage.title}}
        {{c-input-text
          label="A Label"
          placeholder="I'm a placeholder.."
          state="warning"
        }}
      {{/freestyle-usage}}
    {{/freestyle-variant}}

    {{#freestyle-variant collection=collection key='error'}}
      {{#freestyle-usage 'c-input-text-error' title='error' usageTitle=labels.usage.title}}
        {{c-input-text
          label="A Label"
          placeholder="I'm a placeholder.."
          state="error"
        }}
      {{/freestyle-usage}}
    {{/freestyle-variant}}

    {{#freestyle-variant collection=collection key='disabled'}}
      {{#freestyle-usage 'c-input-text-disabled' title='disabled' usageTitle=labels.usage.title}}
        {{c-input-text
          label="A Label"
          placeholder="I'm a placeholder.."
          disabled=true
        }}
      {{/freestyle-usage}}
    {{/freestyle-variant}}

  {{/freestyle-collection}}

{{/freestyle-subsection}}