{{! template-lint-disable }}
<!-- disable all rules -->
{{#section.subsection name='e-button'}}

  {{#freestyle-annotation}}
    <p>Buttons are displayed here in four states which demo user interaction.</p>
    <p>The states: <em>hover</em>, <em>click</em> and <em>active</em> can be demoed using attribute flags.</p>
    <h4>Attributes</h4>
    <dl>
      <dt><code>isCTA</code> (Boolean)</dt>
      <dd>call-top-action button</dd>
      <dt><code>isActive</code> (Boolean)</dt>
      <dd>active state for button</dd>
      <dt><code>hasHover</code> (Boolean)</dt>
      <dd>hover state for button</dd>
      <dt><code>hasFocus</code> (Boolean)</dt>
      <dd>focus state for button</dd>
      <dt><code>disabled</code> (Boolean)</dt>
      <dd>disabled state for button</dd>
      <dt><code>isSuccess</code> (Boolean)</dt>
      <dd>success state for button</dd>
      <dt><code>isCancel</code> (Boolean)</dt>
      <dd>cancel state for button</dd>
      <dt><code>isIconButton</code> (Boolean)</dt>
      <dd>general icon button</dd>
      <dt><code>iconButtonSquare</code> (Boolean)</dt>
      <dd>square format of icon button</dd>
      <dt><code>iconButtonRectangle</code> (Boolean)</dt>
      <dd>rectangle format of icon button</dd>
      <dt><code>iconButtonMini</code> (Boolean)</dt>
      <dd>small version of icon button</dd>
      <dt><code>fullWidth</code> (Boolean)</dt>
      <dd>button with full width of it's container</dd>
      <dt><code>smallSquare</code> (Boolean)</dt>
      <dd>small square format of button</dd>
      <dt><code>bigSquare</code> (Boolean)</dt>
      <dd>big square format of button</dd>
      <dt><code>transparent</code> (Boolean)</dt>
      <dd>button with transparent background and without border</dd>
      <dt><code>fill</code> (Boolean)</dt>
      <dd>button with full width and size of it's content</dd>
      <dt><code>horScrollButton</code> (Boolean)</dt>
      <dd>button for the horizontal scroll arrows</dd>
      <dt><code>href</code> (String)</dt>
      <dd>href attribute for a href-link that looks like a button</dd>
      <dt><code>target</code> (String)</dt>
      <dd>target attribute of a-tag button</dd>
      <dt><code>preventDefault</code> (Boolean)</dt>
      <dd>preventDefault attribute for the button element</dd>
      <dt><code>title</code> (String)</dt>
      <dd>title attribute of the button-wrapper element</dd>
      <dt><code>type</code> (String)</dt>
      <dd>type attribute of button</dd>
      <dt><code>id</code> (String)</dt>
      <dd>id attribute of the button wrapper element</dd>
      <dt><code>class</code> (String)</dt>
      <dd>class attribute of the button wrapper element</dd>
    </dl>
  {{/freestyle-annotation}}

  {{#freestyle-collection title='E-Button (states)' defaultKey='all' inline=false as |collection|}}

    {{#collection.variant key='default'}}
      {{#freestyle-usage 'e-button-inactive' title='default state' usageTitle=labels.usage.title}}
        {{#e-button
          id="testing"
          title="Standard Button"
          action="clicked"
        }}
          Button Label
        {{/e-button}}
      {{/freestyle-usage}}
    {{/collection.variant}}

    {{#collection.variant key='hover'}}
      {{#freestyle-usage 'e-button-hover' title='on hover' usageTitle=labels.usage.title}}
        {{#e-button
          hasHover=true
        }}
          Button Label
        {{/e-button}}
      {{/freestyle-usage}}
    {{/collection.variant}}

    {{#collection.variant key='click'}}
      {{#freestyle-usage 'e-button-click' title='on click' usageTitle=labels.usage.title}}
        {{#e-button
          isActive=true
        }}
          Button Label
        {{/e-button}}
      {{/freestyle-usage}}
    {{/collection.variant}}

    {{#collection.variant key='active'}}
      {{#freestyle-usage 'e-button-active' title='active state' usageTitle=labels.usage.title}}
        {{#e-button
          hasFocus=true
        }}
          Button Label
        {{/e-button}}
      {{/freestyle-usage}}
    {{/collection.variant}}

    {{#collection.variant key='disabled'}}
      {{#freestyle-usage 'e-button-disabled' title='diabled state' usageTitle=labels.usage.title}}
        {{#e-button
          disabled=true
        }}
          Button Label
        {{/e-button}}
      {{/freestyle-usage}}
    {{/collection.variant}}

  {{/freestyle-collection}}



  {{#freestyle-collection title='E-Button (call-to-action)' defaultKey='all' inline=false as |collection|}}

    {{#collection.variant key='default'}}
      {{#freestyle-usage 'e-button-cta-inactive' title='default state' usageTitle=labels.usage.title}}
        {{#e-button
          isCTA=true
        }}
          Button Label
        {{/e-button}}
      {{/freestyle-usage}}
    {{/collection.variant}}

    {{#collection.variant key='hover'}}
      {{#freestyle-usage 'e-button-cta-over' title='on hover' usageTitle=labels.usage.title}}
        {{#e-button
          isCTA=true
          hasHover=true
        }}
          Button Label
        {{/e-button}}
      {{/freestyle-usage}}
    {{/collection.variant}}

    {{#collection.variant key='click'}}
      {{#freestyle-usage 'e-button-cta-click' title='on click' usageTitle=labels.usage.title}}
        {{#e-button
          isCTA=true
          isActive=true
        }}
          Button Label
        {{/e-button}}
      {{/freestyle-usage}}
    {{/collection.variant}}

    {{#collection.variant key='active'}}
      {{#freestyle-usage 'e-button-cta-active' title='active state' usageTitle=labels.usage.title}}
        {{#e-button
          isCTA=true
          hasFocus=true
        }}
          Button Label
        {{/e-button}}
      {{/freestyle-usage}}
    {{/collection.variant}}

    {{#collection.variant key='disabled'}}
      {{#freestyle-usage 'e-button-cta-disabled' title='disabled state' usageTitle=labels.usage.title}}
        {{#e-button
          isCTA=true
          disabled=true
        }}
          Button Label
        {{/e-button}}
      {{/freestyle-usage}}
    {{/collection.variant}}

  {{/freestyle-collection}}



  {{#freestyle-annotation}}
    <h3>Alternative HTML tag rendering</h3>
    <p>Buttons can also be rendered as a-tag link elements.</p>
    <p>The <code>href</code> attribute should be added to the element.</p>
  {{/freestyle-annotation}}

  {{#freestyle-collection title='E-Button A-Tag (default)' defaultKey='all' inline=false as |collection|}}

    {{#collection.variant key='default'}}
      {{#freestyle-usage 'e-button-a-inactive' title='default state' usageTitle=labels.usage.title}}
        {{#e-button
          tagName="a"
          href="/styleguide"
          title="A tag button"
          target="_blank"
        }}
          Button Label
        {{/e-button}}
      {{/freestyle-usage}}
    {{/collection.variant}}

    {{#collection.variant key='hover'}}
      {{#freestyle-usage 'e-button-a-hover' title='on hover' usageTitle=labels.usage.title}}
        {{#e-button
          tagName="a"
          href="/styleguide"
          hasHover=true
        }}
          Button Label
        {{/e-button}}
      {{/freestyle-usage}}
    {{/collection.variant}}

    {{#collection.variant key='click'}}
      {{#freestyle-usage 'e-button-a-click' title='on click' usageTitle=labels.usage.title}}
        {{#e-button
          tagName="a"
          href="/styleguide"
          isActive=true
        }}
          Button Label
        {{/e-button}}
      {{/freestyle-usage}}
    {{/collection.variant}}

    {{#collection.variant key='active'}}
      {{#freestyle-usage 'e-button-a-active' title='active state' usageTitle=labels.usage.title}}
        {{#e-button
          tagName="a"
          href="/styleguide"
          hasFocus=true
        }}
          Button Label
        {{/e-button}}
      {{/freestyle-usage}}
    {{/collection.variant}}

    {{#collection.variant key='disabled'}}
      {{#freestyle-usage 'e-button-a-disabled' title='disabled state' usageTitle=labels.usage.title}}
        {{#e-button
          tagName="a"
          href="/styleguide"
          disabled=true
        }}
          Button Label
        {{/e-button}}
      {{/freestyle-usage}}
    {{/collection.variant}}

  {{/freestyle-collection}}



  {{#freestyle-collection title='E-Button states' defaultKey='all' inline=false as |collection|}}

    {{#collection.variant key='default'}}
      <div class="row">
        <div class="col-xs-4">
          {{#freestyle-usage 'e-button-state-default-default' title='button default-default' usageTitle=labels.usage.title}}
            {{#e-button
              title="Standard Button"
            }}
              Button Label
            {{/e-button}}
          {{/freestyle-usage}}
        </div>
        <div class="col-xs-4">
          {{#freestyle-usage 'e-button-state-default-success' title='button default-success' usageTitle=labels.usage.title}}
            {{#e-button
              title="Standard Button"
              isSuccess=true
            }}
              Button Label
            {{/e-button}}
          {{/freestyle-usage}}
        </div>
        <div class="col-xs-4">
          {{#freestyle-usage 'e-button-state-default-error' title='button default-error' usageTitle=labels.usage.title}}
            {{#e-button
              title="Standard Button"
              isCancel=true
            }}
              Button Label
            {{/e-button}}
          {{/freestyle-usage}}
        </div>
      </div>
    {{/collection.variant}}

    {{#collection.variant key='hover'}}
      <div class="row">
        <div class="col-xs-4">
          {{#freestyle-usage 'e-button-state-hover-default' title='button hover-default' usageTitle=labels.usage.title}}
            {{#e-button
              title="Standard Button"
              hasHover=true
            }}
              Button Label
            {{/e-button}}
          {{/freestyle-usage}}
        </div>
        <div class="col-xs-4">
          {{#freestyle-usage 'e-button-state-hover-success' title='button hover-success' usageTitle=labels.usage.title}}
            {{#e-button
              title="Standard Button"
              isSuccess=true
              hasHover=true
            }}
              Button Label
            {{/e-button}}
          {{/freestyle-usage}}
        </div>
        <div class="col-xs-4">
          {{#freestyle-usage 'e-button-state-hover-error' title='button hover-error' usageTitle=labels.usage.title}}
            {{#e-button
              title="Standard Button"
              isCancel=true
              hasHover=true
            }}
              Button Label
            {{/e-button}}
          {{/freestyle-usage}}
        </div>
      </div>
    {{/collection.variant}}

    {{#collection.variant key='click'}}
      <div class="row">
        <div class="col-xs-4">
          {{#freestyle-usage 'e-button-state-click-default' title='button click-default' usageTitle=labels.usage.title}}
            {{#e-button
              title="Standard Button"
              isActive=true
            }}
              Button Label
            {{/e-button}}
          {{/freestyle-usage}}
        </div>
        <div class="col-xs-4">
          {{#freestyle-usage 'e-button-state-click-success' title='button click-success' usageTitle=labels.usage.title}}
            {{#e-button
              title="Standard Button"
              isSuccess=true
              isActive=true
            }}
              Button Label
            {{/e-button}}
          {{/freestyle-usage}}
        </div>
        <div class="col-xs-4">
          {{#freestyle-usage 'e-button-state-click-error' title='button click-error' usageTitle=labels.usage.title}}
            {{#e-button
              title="Standard Button"
              isCancel=true
              isActive=true
            }}
              Button Label
            {{/e-button}}
          {{/freestyle-usage}}
        </div>
      </div>
    {{/collection.variant}}

    {{#collection.variant key='active'}}
      <div class="row">
        <div class="col-xs-4">
          {{#freestyle-usage 'e-button-state-active-default' title='button active-default' usageTitle=labels.usage.title}}
            {{#e-button
              title="Standard Button"
              hasFocus=true
            }}
              Button Label
            {{/e-button}}
          {{/freestyle-usage}}
        </div>
        <div class="col-xs-4">
          {{#freestyle-usage 'e-button-state-active-success' title='button active-success' usageTitle=labels.usage.title}}
            {{#e-button
              title="Standard Button"
              isSuccess=true
              hasFocus=true
            }}
              Button Label
            {{/e-button}}
          {{/freestyle-usage}}
        </div>
        <div class="col-xs-4">
          {{#freestyle-usage 'e-button-state-active-error' title='button active-error' usageTitle=labels.usage.title}}
            {{#e-button
              title="Standard Button"
              isCancel=true
              hasFocus=true
            }}
              Button Label
            {{/e-button}}
          {{/freestyle-usage}}
        </div>
      </div>
    {{/collection.variant}}

    {{#collection.variant key='disabled'}}
      <div class="row">
        <div class="col-xs-4">
          {{#freestyle-usage 'e-button-state-disabled-default' title='button disabled-default' usageTitle=labels.usage.title}}
            {{#e-button
              title="Standard Button"
              disabled=true
            }}
              Button Label
            {{/e-button}}
          {{/freestyle-usage}}
        </div>
        <div class="col-xs-4">
          {{#freestyle-usage 'e-button-state-disabled-success' title='button disabled-success' usageTitle=labels.usage.title}}
            {{#e-button
              title="Standard Button"
              state="success"
              disabled=true
            }}
              Button Label
            {{/e-button}}
          {{/freestyle-usage}}
        </div>
        <div class="col-xs-4">
          {{#freestyle-usage 'e-button-state-disabled-error' title='button disabled-error' usageTitle=labels.usage.title}}
            {{#e-button
              title="Standard Button"
              state="error"
              disabled=true
            }}
              Button Label
            {{/e-button}}
          {{/freestyle-usage}}
        </div>
      </div>
    {{/collection.variant}}

  {{/freestyle-collection}}



  {{#freestyle-collection title='Buttons with icon' defaultKey='all' inline=false as |collection|}}

    {{#collection.variant key='icon-square'}}
      {{#freestyle-usage 'e-button-icon-square' title='icon-square' usageTitle=labels.usage.title}}
        {{#e-button
          title="Button with svg icon"
          clicked="clicked"
          isIconButton=true
          iconButtonSquare=true
        }}
          {{svg-jar "#demo_i-cancel" class="e-button__icon"}}
        {{/e-button}}
      {{/freestyle-usage}}
    {{/collection.variant}}

    {{#collection.variant key='icon-rectangle'}}
      {{#freestyle-usage 'e-button-icon-rectangle' title='icon-rectangle' usageTitle=labels.usage.title}}
        {{#e-button
          title="Button with svg icon"
          clicked="clicked"
          isIconButton=true
          iconButtonRectangle=true
        }}
          {{svg-jar "#demo_i-cancel" class="e-button__icon"}}
        {{/e-button}}
      {{/freestyle-usage}}
    {{/collection.variant}}

    {{#collection.variant key='icon-square-mini'}}
      {{#freestyle-usage 'e-button-icon-square-mini' title='icon-square-mini' usageTitle=labels.usage.title}}
        {{#e-button
          title="Button with svg icon"
          clicked="clicked"
          isIconButton=true
          iconButtonSquare=true
          iconButtonMini=true
        }}
          {{svg-jar "#demo_i-cancel" class="e-button__icon"}}
        {{/e-button}}
      {{/freestyle-usage}}
    {{/collection.variant}}

    {{#collection.variant key='icon-rectangle-mini'}}
      {{#freestyle-usage 'e-button-icon-rectangle-mini' title='icon-rectangle-mini' usageTitle=labels.usage.title}}
        {{#e-button
          title="Button with svg icon"
          clicked="clicked"
          isIconButton=true
          iconButtonRectangle=true
          iconButtonMini=true
        }}
          {{svg-jar "#demo_i-cancel" class="e-button__icon"}}
        {{/e-button}}
      {{/freestyle-usage}}
    {{/collection.variant}}

  {{/freestyle-collection}}

  {{#freestyle-collection title='Buttons specials' defaultKey='all' inline=false as |collection|}}

    {{#collection.variant key='small-square'}}
      {{#freestyle-usage 'e-button-small-square' title='small-square' usageTitle=labels.usage.title}}
        {{#e-button
          title="Button small square"
          clicked="clicked"
          smallSquare=true
        }}
          {{svg-jar "#demo_i-cancel" class="e-button__icon"}}
        {{/e-button}}
      {{/freestyle-usage}}
    {{/collection.variant}}

    {{#collection.variant key='big-square'}}
      {{#freestyle-usage 'e-button-big-square' title='big-square' usageTitle=labels.usage.title}}
        {{#e-button
          title="Button big square"
          clicked="clicked"
          bigSquare=true
        }}
          {{svg-jar "#demo_i-cancel" class="e-button__icon"}}
        {{/e-button}}
      {{/freestyle-usage}}
    {{/collection.variant}}

    {{#collection.variant key='transparent'}}
      {{#freestyle-usage 'e-button--transparent' title='transparent' usageTitle=labels.usage.title}}
        {{#e-button
          title="Button transparent"
          clicked="clicked"
          transparent=true
        }}
          {{svg-jar "#demo_i-cancel" class="e-button__icon"}}
        {{/e-button}}
      {{/freestyle-usage}}
    {{/collection.variant}}

  {{/freestyle-collection}}

{{/section.subsection}}