<select
  onchange={{action "changed" value="target.value"}}
  class={{computedClassName}}
  disabled={{disabled}}
  id={{id}}
  multiple={{multiple}}
  name={{name}}
  required={{required}}
  readonly={{readonly}}
  size={{size}}
  title={{title}}
>
  {{#unless multiple}}
    <option selected={{if groupValue true false}}>
      {{if placeholder placeholder (t "e-select.placeholder")}}
    </option>
  {{/unless}}

  {{#each items as |option|}}
    <option value={{get option dataValueField}} selected={{eq (get option dataValueField) groupValue}}>
      {{get option dataTextField}}
    </option>
  {{/each}}
</select>