{{! template-lint-disable }}
<!-- disable all rules -->
{{#freestyle-subsection name='e-input-text' section=section}}

  {{#freestyle-annotation}}
    <p>Extends: <em>e-form-component-class</em></p>
    <p>The <code>e-input-text</code> component is the input field component.</p>
    <h4>Attributes</h4>
    <dl>
      <dt><code>autocomplete</code> (Boolean)</dt>
      <dd>sets attribute "autocomplete" to input-field</dd>
      <dt><code>autofocus</code> (Boolean)</dt>
      <dd>sets attribute "autofocus" to input-field</dd>
      <dt><code>checked</code> (Boolean)</dt>
      <dd>sets attribute "checked" to input-field</dd>
      <dt><code>computedClassName</code> (Array)</dt>
      <dd>Gives an array with strings as class to the element</dd>
      <dt><code>disabled</code> (Boolean)</dt>
      <dd>sets input field as disabled</dd>
      <dt><code>id</code> (String)</dt>
      <dd>sets the id of the element</dd>
      <dt><code>maxLength</code> (Number)</dt>
      <dd>sets the max. number of chars in the input-field</dd>
      <dt><code>name</code> (String)</dt>
      <dd>Gives the element a name</dd>
      <dt><code>thePlaceholder</code> (String)</dt>
      <dd>defines the placeholder of the element</dd>
      <dt><code>readonly</code> (Boolean)</dt>
      <dd>sets readonly attribute to the element</dd>
      <dt><code>required</code> (Boolean)</dt>
      <dd>sets required attribute to the element</dd>
      <dt><code>title</code> (String)</dt>
      <dd>sets title attribute with the comitted String to the element</dd>
      <dt><code>value</code> (String)</dt>
      <dd>this value will be display as value in the input-field</dd>
      <dt><code>type</code> (String)</dt>
      <dd>"default", "password", "search", "email"</dd>
      <dt><code>textCentered</code> (Boolean)</dt>
      <dd>sets the text centered in the input-field</dd>
    </dl>
  {{/freestyle-annotation}}

  {{#freestyle-collection title='e-input-text-standards' defaultKey='all' inline=false as |collection|}}

    {{#freestyle-variant collection=collection key='default'}}
      {{#freestyle-usage 'e-input-text-default' title='E-input-text' usageTitle=labels.usage.title}}
        {{e-input-text
          name="e-input1"
          id="theField1"
        }}
      {{/freestyle-usage}}
    {{/freestyle-variant}}

    {{#freestyle-variant collection=collection key='with class name'}}
      {{#freestyle-usage 'e-input-text-classname' title='E-input-text with class Name' usageTitle=labels.usage.title}}
        {{e-input-text
          name="input1"
          class="classNameTest"
        }}
      {{/freestyle-usage}}
    {{/freestyle-variant}}

    {{#freestyle-variant collection=collection key='value'}}
      {{#freestyle-usage 'e-input-text-default-value' title='Default with value' usageTitle=labels.usage.title}}
        {{e-input-text
          name="input1"
          value="A Value"
        }}
      {{/freestyle-usage}}
    {{/freestyle-variant}}

    {{#freestyle-variant collection=collection key='placeholder'}}
      {{#freestyle-usage 'e-input-text-default-placeholder' title='Default with placeholder' usageTitle=labels.usage.title}}
        {{e-input-text
          name="input1"
          placeholder="A placeholder"
        }}
      {{/freestyle-usage}}
    {{/freestyle-variant}}

  {{/freestyle-collection}}



  {{#freestyle-collection title='e-input-text states' defaultKey='all' inline=false as |collection|}}

    {{#freestyle-variant collection=collection key='default'}}
      {{#freestyle-usage 'e-input-text-state-default' title='e-input-text default' usageTitle=labels.usage.title}}
        {{e-input-text
          value="a value"
        }}
      {{/freestyle-usage}}
    {{/freestyle-variant}}

    {{#freestyle-variant collection=collection key='success'}}
      {{#freestyle-usage 'e-input-text-state-success' title='e-input-text success' usageTitle=labels.usage.title}}
        {{e-input-text
          state="success"
          value="a value"
        }}
      {{/freestyle-usage}}
    {{/freestyle-variant}}

    {{#freestyle-variant collection=collection key='warning'}}
      {{#freestyle-usage 'e-input-text-state-warning' title='e-input-text warning' usageTitle=labels.usage.title}}
        {{e-input-text
          state="warning"
          value="a value"
        }}
      {{/freestyle-usage}}
    {{/freestyle-variant}}

    {{#freestyle-variant collection=collection key='error'}}
      {{#freestyle-usage 'e-input-text-state-error' title='e-input-text error' usageTitle=labels.usage.title}}
        {{e-input-text
          state="error"
          value="a value"
        }}
      {{/freestyle-usage}}
    {{/freestyle-variant}}

    {{#freestyle-variant collection=collection key='disabled'}}
      {{#freestyle-usage 'e-input-text-state-disabled' title='e-input-text disabled' usageTitle=labels.usage.title}}
        {{e-input-text
          value="a value"
          disabled=true
        }}
      {{/freestyle-usage}}
    {{/freestyle-variant}}

    {{#freestyle-variant collection=collection key='no focus'}}
      {{#freestyle-usage 'e-input-text-no-focus' title='e-input-text no focus' usageTitle=labels.usage.title}}
        {{e-input-text
          value="a value"
          noFocus=true
        }}
      {{/freestyle-usage}}
    {{/freestyle-variant}}

  {{/freestyle-collection}}



  {{#freestyle-collection title='e-input-text-specials' defaultKey='all' inline=false as |collection|}}

    {{#freestyle-variant collection=collection key='password'}}
      {{#freestyle-usage 'e-input-text-password' title='Password' usageTitle=labels.usage.title}}
        {{e-input-text
          name="input2"
          type="password"
          value="123456789"
        }}
      {{/freestyle-usage}}
    {{/freestyle-variant}}

    {{#freestyle-variant collection=collection key='search'}}
      {{#freestyle-usage 'e-input-text-search' title='Search' usageTitle=labels.usage.title}}
        {{e-input-text
          name="input3"
          type="search"
          value="Customer Ref"
        }}
      {{/freestyle-usage}}
    {{/freestyle-variant}}

    {{#freestyle-variant collection=collection key='email'}}
      {{#freestyle-usage 'e-input-text-email' title='Email' usageTitle=labels.usage.title}}
        {{e-input-text
          name="email"
          type="email"
          value="someone@domain.com"
        }}
      {{/freestyle-usage}}
    {{/freestyle-variant}}

    {{#freestyle-variant collection=collection key='text-centered'}}
      {{#freestyle-usage 'e-input-text-centered' title='text-centered' usageTitle=labels.usage.title}}
        {{e-input-text
          name="text-center"
          value="Tetx-centered-value"
          textCentered=true
        }}
      {{/freestyle-usage}}
    {{/freestyle-variant}}

  {{/freestyle-collection}}

{{/freestyle-subsection}}