<div class="section-title" {{classes}}>
    <div class="section-title_title">
        <h2>{{yield}}</h2>
    </div>
    <div class="section-title__divider">
        <div class="section-title__addition">
            {{addition-text}}
            {{!--
            {{#if addition-anchor}}
                {{#with addition-anchor}}
                    <a href="{{href}}" {{#if target}}target="{{target}}"{{/if}}>{{text}}</a>
                {{/with}}
            {{/if}}
            --}}
        </div>
    </div>
</div>