{{! disable all rules for this template }}
<!-- template-lint disable=true -->
{{#freestyle-subsection name='c-form-group' section=section}}

  {{#freestyle-annotation}}
    <p>By default this group will render a <code>label</code> and an <code>input</code> "text" element.</p>
    <p>It is the parent <em>component</em> for the components which consist of a <em>label</em> and an <em>element</em>, for which it is the <em>component-wrapper</em>.</p>
    <p>The component allows to render the elements in various states: <em>hover</em>, <em>focus</em>, <em>disabled</em>.</p>
    <p>It also has <code>classNameBindings</code> to define feedback states: <em>success</em>, <em>feedback</em>, <em>warning</em> and <em>error</em>.</p>
    <p>It offers three "<code>layout</code>" variants: <em>horizontal (default)</em>, <em>vertical</em> and <em>nested</em>.</p>
  {{/freestyle-annotation}}

  {{#freestyle-usage 'c-form-group' title='Default' usageTitle=labels.usage.title hbsTitle=labels.usage.hbs jsTitle=labels.usage.js scssTitle=labels.usage.scss}}
    {{#c-form-group name="c-form-group-1" label="Name" placeholder="Your fullname"}}
      <div class="row">
        <div class="col-xxs-12">
          {{c-input-text
              label="A Label"
              layout="vertical"
              name="c-input-text-1a"
              placeholder="I'm a placeholder.."
          }}
        </div>
      </div>
      <div class="row">
        <div class="col-xxs-12">
          {{c-input-text
              label="A Label"
              layout="vertical"
              name="c-input-text-1a"
              placeholder="I'm a placeholder.."
          }}
        </div>
      </div>
      <div class="row">
        <div class="col-xxs-12">
          {{c-input-text
              label="A Label"
              layout="vertical"
              name="c-input-text-1a"
              placeholder="I'm a placeholder.."
          }}
        </div>
      </div>
      <div class="row">
        <div class="col-xxs-12">
          {{c-input-text
              label="A Label"
              layout="vertical"
              name="c-input-text-1a"
              placeholder="I'm a placeholder.."
          }}
        </div>
      </div>
      <div class="row">
        <div class="col-xxs-12">
          {{c-input-text
              label="A Label"
              layout="vertical"
              name="c-input-text-1a"
              placeholder="I'm a placeholder.."
          }}
        </div>
      </div>
    {{/c-form-group}}
  {{/freestyle-usage}}
  {{#freestyle-note 'c-form-group--notes'}}
    **NOTE** This will render HTML with the `input` element nested as child within the `label` element since we're leaving out the `fieldId` attribute.
  {{/freestyle-note}}

  {{#freestyle-usage 'c-form-group-fieldid' title='Default with fieldId' usageTitle=labels.usage.title}}
    {{c-form-group name="c-form-group-1" label="Name" placeholder="Your fullname" fieldId="cFormGroup1"}}
  {{/freestyle-usage}}
  {{#freestyle-note 'c-form-group-fieldid--notes'}}
    **NOTE** Use the attribute `fieldId` to give the `input` field element an id and the HTML output result will be an `input` element rendered as a sibling of the `label` element.
  {{/freestyle-note}}

{{/freestyle-subsection}}