<div class="{{bemBlockName}}__error-code">
  {{errorCode}}
</div>
<div class="{{bemBlockName}}__sub-title">
  {{subTitle}}
</div>
<div class="{{bemBlockName}}__description">
  {{description}}
</div>
<div class="{{bemBlockName}}__button">
  {{#e-button
      tagName="a"
      href=linkHref
  }}
    {{linkText}}
  {{/e-button}}
</div>
<div class="{{bemBlockName}}__image">
  <img src="assets/images/homer-doh.jpg" alt="homer-doh">
</div>