{{! template-lint-disable }}
<!-- disable all rules -->
{{#freestyle-subsection name='e-textarea' section=section}}

  {{#freestyle-annotation}}
    <p>Extends: <em>eFormComponent</em></p>
    <p>The <em>textarea</em> element is demonstrated here.</p>
    <h4>Attributes</h4>
    <dl>
      <dt><code>autofocus</code> (Boolean)</dt>
      <dd>sets attribute "autofocus" to element</dd>
      <dt><code>disabled</code> (Boolean)</dt>
      <dd>sets element as disabled</dd>
      <dt><code>readonly</code> (Boolean)</dt>
      <dd>sets readonly attribute to the element</dd>
      <dt><code>required</code> (Boolean)</dt>
      <dd>sets the required attribute to the element</dd>
      <dt><code>id</code> (String)</dt>
      <dd>sets the id of the element</dd>
      <dt><code>name</code> (String)</dt>
      <dd>Gives the element a name</dd>
      <dt><code>title</code> (String)</dt>
      <dd>sets title attribute with the comitted String to the element</dd>
      <dt><code>value</code> (String)</dt>
      <dd>this value will be display as value in the element</dd>
      <dt><code>placeholder</code> (String)</dt>
      <dd>defines the placeholder of the element</dd>
      <dt><code>maxlength</code> (Number)</dt>
      <dd>sets the max. number of chars in the element</dd>
      <dt><code>cols</code> (Number)</dt>
      <dd>cols of the textarea</dd>
      <dt><code>rows</code> (Number)</dt>
      <dd>rows of the textarea</dd>
      <dt><code>spellcheck</code> (Boolean)</dt>
      <dd>option if spellcheck have to be active</dd>
      <dt><code>tabindex</code> (Number)</dt>
      <dd>option for the tabindex attribute</dd>
      <dt><code>wrap</code> (String)</dt>
      <dd>wrap attribute of the textarea</dd>
    </dl>
  {{/freestyle-annotation}}

  {{#freestyle-collection title='e-textarea' defaultKey='all' inline=false as |collection|}}

    {{#freestyle-variant collection=collection key='default'}}
      {{#freestyle-usage 'e-textarea-default' title='e-textarea default' usageTitle=labels.usage.title}}
        {{e-textarea}}
      {{/freestyle-usage}}
    {{/freestyle-variant}}

    {{#freestyle-variant collection=collection key='with class name'}}
      {{#freestyle-usage 'e-textarea-classname' title='e-textarea classname' usageTitle=labels.usage.title}}
        {{e-textarea
          class="TestClassName123"
        }}
      {{/freestyle-usage}}
    {{/freestyle-variant}}

    {{#freestyle-variant collection=collection key='placeholder'}}
      {{#freestyle-usage 'e-textarea-placeholder' title='e-textarea placeholder' usageTitle=labels.usage.title}}
        {{e-textarea
          placeholder="I'm a placeholder"
        }}
      {{/freestyle-usage}}
    {{/freestyle-variant}}

    {{#freestyle-variant collection=collection key='value'}}
      {{#freestyle-usage 'e-textarea-value' title='e-textarea value' usageTitle=labels.usage.title}}
        {{e-textarea
            value="A value"
        }}
      {{/freestyle-usage}}
    {{/freestyle-variant}}

    {{#freestyle-variant collection=collection key='rows'}}
      {{#freestyle-usage 'e-textarea-rows' title='e-textarea rows' usageTitle=labels.usage.title}}
        {{e-textarea
          rows=10
        }}
      {{/freestyle-usage}}
    {{/freestyle-variant}}

  {{/freestyle-collection}}



  {{#freestyle-collection title='e-textarea states' defaultKey='all' inline=false as |collection|}}

    {{#freestyle-variant collection=collection key='default'}}
      {{#freestyle-usage 'e-textarea-state-default' title='e-textarea default' usageTitle=labels.usage.title}}
        {{e-textarea
            state="default"
          placeholder="I'm a placeholder"
        }}
      {{/freestyle-usage}}
    {{/freestyle-variant}}

    {{#freestyle-variant collection=collection key='success'}}
      {{#freestyle-usage 'e-textarea-state-success' title='e-textarea success' usageTitle=labels.usage.title}}
        {{e-textarea
            state="success"
            placeholder="I'm a placeholder"
        }}
      {{/freestyle-usage}}
    {{/freestyle-variant}}

    {{#freestyle-variant collection=collection key='warning'}}
      {{#freestyle-usage 'e-textarea-state-warning' title='e-textarea warning' usageTitle=labels.usage.title}}
        {{e-textarea
            state="warning"
            placeholder="I'm a placeholder"
        }}
      {{/freestyle-usage}}
    {{/freestyle-variant}}

    {{#freestyle-variant collection=collection key='error'}}
      {{#freestyle-usage 'e-textarea-state-error' title='e-textarea error' usageTitle=labels.usage.title}}
        {{e-textarea
            state="error"
            placeholder="I'm a placeholder"
        }}
      {{/freestyle-usage}}
    {{/freestyle-variant}}

    {{#freestyle-variant collection=collection key='disabled'}}
      {{#freestyle-usage 'e-textarea-state-disabled' title='e-textarea disabled' usageTitle=labels.usage.title}}
        {{e-textarea
            disabled=true
            placeholder="I'm a placeholder"
        }}
      {{/freestyle-usage}}
    {{/freestyle-variant}}

  {{/freestyle-collection}}

{{/freestyle-subsection}}