{{! disable all rules for this template }}
<!-- template-lint disable=true -->
{{#freestyle-subsection name='e-textarea' section=section}}

  {{#freestyle-annotation}}
    <p>Extends: <em>c-form-control</em></p>
    <p>The <em>textarea</em> element is demonstrated here.</p>
    <h4>Attributes</h4>
    <dl>
      <dt><code>autocomplete</code> (Boolean)</dt>
      <dd>sets attribute "autocomplete" to element</dd>
      <dt><code>autofocus</code> (Boolean)</dt>
      <dd>sets attribute "autofocus" to element</dd>
      <dt><code>checked</code> (Boolean)</dt>
      <dd>sets attribute "checked" to element</dd>
      <dt><code>computedClassName</code> (Array)</dt>
      <dd>Gives an array with strings as class to the element</dd>
      <dt><code>disabled</code> (Boolean)</dt>
      <dd>sets element as disabled</dd>
      <dt><code>id</code> (String)</dt>
      <dd>sets the id of the element</dd>
      <dt><code>maxLength</code> (Number)</dt>
      <dd>sets the max. number of chars in the element</dd>
      <dt><code>name</code> (String)</dt>
      <dd>Gives the element a name</dd>
      <dt><code>thePlaceholder</code> (String)</dt>
      <dd>defines the placeholder of the element</dd>
      <dt><code>readonly</code> (Boolean)</dt>
      <dd>sets readonly attribute to the element</dd>
      <dt><code>required</code> (Boolean)</dt>
      <dd>sets required attribute to the element</dd>
      <dt><code>title</code> (String)</dt>
      <dd>sets title attribute with the comitted String to the element</dd>
      <dt><code>value</code> (String)</dt>
      <dd>this value will be display as value in the element</dd>
      <dt><code>state</code> (String)</dt>
      <dd>"default", "success", "warning", "error"</dd>
    </dl>
  {{/freestyle-annotation}}

  {{#freestyle-usage 'e-textarea' title='e-textarea without value nor placeholder' usageTitle=labels.usage.title jsTitle=labels.usage.js}}
    {{e-textarea
      id="theTextArea1"
      name='textarea1'
    }}
  {{/freestyle-usage}}

  {{#freestyle-usage '' title='e-textarea without a value and a placeholder' usageTitle=labels.usage.title}}
    {{e-textarea
      name='textarea2'
      placeholder='A placeholder'
    }}
  {{/freestyle-usage}}

  {{#freestyle-usage 'e-textarea-colsrows' title='e-textarea without a cols and rows' usageTitle=labels.usage.title}}
    {{e-textarea
      name='textarea2'
      placeholder='A longer placeholder on multiple lines'
      rows=5
    }}
  {{/freestyle-usage}}

  {{#freestyle-usage '-value' title='e-textarea with a value' usageTitle=labels.usage.title}}
    {{e-textarea
      name='textarea3'
      placeholder="Enter your favorit Dicken's quote here"
      value='It was the best of times, it was the worst of times, it was the age of wisdom, it was the age of classNamelishness, it was the epoch of belief, it was the epoch of incredulity...'
    }}
  {{/freestyle-usage}}
  {{#freestyle-usage '-classname' title='Default with class Name' usageTitle=labels.usage.title}}
    {{e-textarea
      class="e-textarea e-textarea--modifier"
      name="textarea4"
      placeholder="A Placeholder"
      value="A Value"
    }}
  {{/freestyle-usage}}

  {{#freestyle-note '--notes'}}
    **NOTE:** We give the _textarea_ its value through the attribute _value_. Ember's' _yield_ output is not used.
  {{/freestyle-note}}

  {{#freestyle-collection title='e-textarea states' defaultKey='all' inline=false as |collection|}}

    {{#freestyle-variant collection=collection key='default'}}
      {{#freestyle-usage 'e-textarea-normal' title='e-textarea default' usageTitle=labels.usage.title}}
        {{e-textarea
          value="a value"
        }}
      {{/freestyle-usage}}
    {{/freestyle-variant}}

    {{#freestyle-variant collection=collection key='success'}}
      {{#freestyle-usage 'e-textarea-success' title='e-textarea success' usageTitle=labels.usage.title}}
        {{e-textarea
          state="success"
          value="a value"
        }}
      {{/freestyle-usage}}
    {{/freestyle-variant}}

    {{#freestyle-variant collection=collection key='error'}}
      {{#freestyle-usage 'e-textarea-error' title='e-textarea error' usageTitle=labels.usage.title}}
        {{e-textarea
          state="error"
          value="a value"
        }}
      {{/freestyle-usage}}
    {{/freestyle-variant}}

    {{#freestyle-variant collection=collection key='disabled'}}
      {{#freestyle-usage 'e-textarea-disabled' title='e-textarea disabled' usageTitle=labels.usage.title}}
        {{e-textarea
          value="a value"
          disabled=true
        }}
      {{/freestyle-usage}}
    {{/freestyle-variant}}

  {{/freestyle-collection}}

{{/freestyle-subsection}}