<h2>Order List</h2>
<table>
  <thead>
    <td>ID</td>
    <td>Created at</td>
    <td>Amount of items</td>
    <td>Status code</td>
  </thead>
  <tbody>
  {{#each model as |order|}}
    <tr>
      <td>{{order.id}}</td>
      <td>{{order.created-at}}</td>
      <td>{{order.amount-of-line-items}}</td>
      <td>{{order.status-code}}</td>
    </tr>
  {{/each}}
  </tbody>
</table>
{{outlet}}
