{{!-- addon: ember-radio-button --}}
{{radio-button
  changed=(action "changed")
  type="radio"
  disabled=disabled
  radioClass=computedClassName
  groupValue=groupValue
  value=value
  name=name
}}
<span class="{{bemBlockName}}__fake-radio {{_fakeRadioClassNames}}" data-value="{{value}}">
  {{#if noInputVisible}}
    {{text}}
  {{/if}}
</span>
